footer {
    width: 100%;
    height: 12rem;
    background-color: #2d2a2a;
    opacity: .8;
    border-style: solid;
    border: none;
    box-shadow: 0 0 0 2px #D19B3E, 0 0 0 3px #FCD926;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.footer-content {
    height: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.footer-content p {
    color: #fff;
    font-size: 1.2rem;
    opacity: 1;
}

.footer-content p:first-child {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.footer-content a {
    text-decoration: none;
    color: #999;
}