<footer>
    <div class="footer-content">
        <p style="font-size: 10px;">
            Os preços da loja online podem variar em relação a loja fisíca.
        </p>
        
        <p>
            <a href="https://www.google.com/maps/place/Adega+Anhanguera/@-23.4098401,-46.8294354,15z/data=!4m2!3m1!1s0x0:0x33fbeac9405b3681?sa=X&ved=2ahUKEwjDhr2e2K_-AhWXpZUCHZNmAskQ_BJ6BAhhEAg" target="_blank">R. Descalvado, 1 - Jardim Santana, Cajamar - SP, 07793-595</a>
        </p>
        
        <p>
            Copyright &copy; 2023, <a href="https://github.com/DioonS" target="_blank">Diego Silva</a>
        </p>
    </div><!-- .footer-content -->
</footer>

<a href="#" id="link-topo"> <!--Link para voltar ao topo-->
    <i class="fas fa-arrow-up"></i>
</a> <!-- #link-topo -->
