.container-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 18rem;
}

.bar-search {
    width: 500px;
    border-radius: 8px 0px 0px 8px;
    display: flex;
    align-items: center;
}

.button-search {
    width: 40px;
    height: 40px;
    border: 1px solid #FCD926;
    background: #FCD926;
    text-align: center;
    color: #fff;
    border-radius: 0 8px 8px 0;
    font-size: 18px;
    cursor: pointer;
    margin-right: 20rem;
}

.button-search:hover {
    background-color: #FCD926;
    border: #FCD926 1px solid;
}