<nav class="navigation">
    <div class="menu-navigation">
        <button class="navbtn" routerLink="./"><a>Cervejas</a></button>
    </div>
    <div class="menu-navigation">
        <button class="navbtn" routerLink="/nao-alcoolicos"><a>Não Alcoólicos</a></button>
    </div>
    <div class="menu-navigation">
        <button class="navbtn" routerLink="/gelos"><a>Gelos</a></button>
    </div>
    <div class="menu-navigation">
        <button class="navbtn" routerLink="/vinhos"><a>Vinhos</a></button>
    </div>
    <div class="menu-navigation">
        <button class="navbtn" routerLink="/destilados"><a>Destilados</a></button>
    </div>
</nav>