<div class="button-container">
    <a class="button" routerLink="/cervejas">
        <img class="button-image" src="../assets/beer.png">
        <div class="button-content">Cervejas</div>
    </a>
    <a class="button"routerLink="/nao-alcoolicos">
        <img class="button-image" src="../assets/coke.png">
        <div class="button-content">Não Alcoólicos</div>
    </a>
    <a class="button"routerLink="/destilados">
        <img class="button-image" src="../assets/liquor.png">
        <div class="button-content">Destilados</div>
    </a>
    <a class="button"routerLink="/vinhos">
        <img class="button-image" src="../assets/wine-bottle.png">
        <div class="button-content">Vinhos</div>
    </a>
    <a class="button"routerLink="/gelos">
        <img class="button-image" src="../assets/water.png">
        <div class="button-content">Gelos</div>
    </a>
</div>