<div class="button-container">
    <a class="button" routerLink="/cervejas/latas">
        <img class="button-image" src="../assets/beer.png">
        <div class="button-content">Latas</div>
    </a>
    <a class="button" routerLink="/cervejas/nao-alcoolicos">
        <img class="button-image" src="../assets/coke.png">
        <div class="button-content">Long Neck</div>
    </a>
    <a class="button" routerLink="/cervejas/destilados">
        <img class="button-image" src="../assets/liquor.png">
        <div class="button-content">Packs</div>
    </a>
    <a class="button" routerLink="/cervejas/vinhos">
        <img class="button-image" src="../assets/wine-bottle.png">
        <div class="button-content">Retornáveis</div>
    </a>
    <a class="button" routerLink="/cervejas/gelos">
        <img class="button-image" src="../assets/water.png">
        <div class="button-content">Garrafas</div>
    </a>
</div>