<div class="button-container">
    <a class="button" routerLink="/cervejas/latas">
        <img class="button-image" src="../assets/beer-can.png">
        <div class="button-content">Latas</div>
    </a>
    <a class="button" routerLink="/cervejas/long-necks">
        <img class="button-image" src="../assets/longneck-bottle.png">
        <div class="button-content">Long Necks</div>
    </a>
    <a class="button" routerLink="/cervejas/packs">
        <img class="button-image" src="../assets/beer-box.png">
        <div class="button-content">Packs</div>
    </a>
    <a class="button" routerLink="/cervejas/retornaveis">
        <img class="button-image" src="../assets/returnable-beer.png">
        <div class="button-content">Retornáveis</div>
    </a>
    <a class="button" routerLink="/cervejas/garrafas">
        <img class="button-image" src="../assets/beer-bottle.png">
        <div class="button-content">Garrafas</div>
    </a>
</div>