<div class="button-container">
    <a class="button" routerLink="/nao-alcoolicos/refrigerantes">
        <img class="button-image" src="../assets/beer.png">
        <div class="button-content">Refrigerantes</div>
    </a>
    <a class="button" routerLink="/nao-alcoolicos/sucos">
        <img class="button-image" src="../assets/coke.png">
        <div class="button-content">Sucos</div>
    </a>
    <a class="button" routerLink="/nao-alcoolicos/agua">
        <img class="button-image" src="../assets/liquor.png">
        <div class="button-content">Água</div>
    </a>
    <a class="button" routerLink="/nao-alcoolicos/energeticos">
        <img class="button-image" src="../assets/wine-bottle.png">
        <div class="button-content">Energéticos</div>
    </a>
</div>