<div class="button-container">
    <a class="button" routerLink="/destilados/cachaca">
        <img class="button-image" src="../assets/cachaca.png">
        <div class="button-content">Cachaça</div>
    </a>
    <a class="button" routerLink="/destilados/whisky">
        <img class="button-image" src="../assets/whisky.png">
        <div class="button-content">Whisky</div>
    </a>
    <a class="button" routerLink="/destilados/vodka">
        <img class="button-image" src="../assets/vodka.png">
        <div class="button-content">Vodka</div>
    </a>
</div>