<div class="button-container">
    <a class="button" routerLink="/vinhos/vinhos-tinto">
        <img class="button-image" src="../assets/beer.png">
        <div class="button-content">Vinhos Tinto</div>
    </a>
    <a class="button" routerLink="/vinhos/vinhos-branco">
        <img class="button-image" src="../assets/coke.png">
        <div class="button-content">Vinhos Branco</div>
    </a>
    <a class="button" routerLink="/vinhos/vinhos-rose">
        <img class="button-image" src="../assets/liquor.png">
        <div class="button-content">Vinhos Rose</div>
    </a>
</div>