<div class="button-container">
    <a class="button" routerLink="/vinhos/vinhos-tinto">
        <img class="button-image" src="../assets/wine-bottle.png">
        <div class="button-content">Vinhos Tinto</div>
    </a>
    <a class="button" routerLink="/vinhos/vinhos-branco">
        <img class="button-image" src="../assets/white-wine.png">
        <div class="button-content">Vinhos Branco</div>
    </a>
    <a class="button" routerLink="/vinhos/vinhos-rose">
        <img class="button-image" src="../assets/rose-wine.png">
        <div class="button-content">Vinhos Rose</div>
    </a>
</div>